<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-sm-8">
      <h1>Participants</h1>
    </div>
    <div class="col-sm-4">
      <%= link_to 'New Participant', new_participant_path, class: "btn btn-lg btn-block btn-primary" %>
    </div>
  </div>

  <% if @participants.empty? %>
    <div class="jumbotron">No participants yet.</div>
  <% else %>
    <table class="table table-controls-suffix">
      <thead>
        <tr>
          <th>Name</th>
          <th>Transcripts</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @participants.each do |participant| %>
          <tr>
            <td>
              <%= link_to participant.name, participant %>
              <div class="text-muted"><%= participant.organization %> &middot; <%= participant.location %></div>
            </td>
            <td>
              <% participant.transcripts.each do |transcript| %>
                <%= link_to transcript.interviewed_at.strftime("%Y %b %e"), transcript %>
              <% end %>
            </td>
            <td>
              <%= link_to 'Edit', edit_participant_path(participant) %> &middot;
              <%= link_to 'Delete', participant, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

</div>
