<div class="transcript-header bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <%= link_to 'Participants', participants_path %>
        <h3><%= link_to @participant.name, @participant %></h3>
        <div class="text-muted"><%= @participant.organization %> &middot; <%= @participant.location %> &middot; <a href="mailto:<%= @participant.email %>"><%= @participant.email %></a></div>
      </div>
      <div class="col-md-3 d-flex align-items-center">
        <div class="flex-grow-1">
          <%= link_to 'Edit', edit_participant_path(@participant), class: "btn btn-sm btn-block btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">

  <table class="table table-controls-suffix">
    <thead>
      <tr>
        <th>Transcript date</th>
        <th>Highlights</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2">
          <%= link_to 'Add a transcript...', new_participant_transcript_path(@participant) %>
        </td>
        <td></td>
      </tr>
      <% @participant.transcripts.each do |transcript| %>
        <tr>
          <td>
            <%= link_to transcript.interviewed_at, transcript %>
            <div class="text-muted"><%= transcript.description %></div>
          </td>
          <td><%= transcript.highlights.count %></td>
          <td>
            <%= link_to 'Edit', edit_transcript_path(transcript) %> &middot;
            <%= link_to 'Delete', transcript, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
