<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Designbase" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Designbase" %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container justify-content-start">
        <a class="navbar-brand" href="/">Designbase</a>
        <div class="navbar-nav">
          <%= link_to 'Participants', participants_path, class: "nav-item nav-link" %>
          <%= link_to 'Transcripts', transcripts_path, class: "nav-item nav-link" %>
          <%= link_to 'Highlights', highlights_path, class: "nav-item nav-link" %>
          <%= link_to 'Tags', tag_definitions_path, class: "nav-item nav-link" %>
        </div>
      </div>
    </nav>
    <%= render 'layouts/messages' %>

    <%= yield %>
  </body>
</html>
